/* Greeting Atom */
.heading-greeting {
  font-family: 'Poppins';
  font-weight: 500;
  color: #5D5871;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.5%;
}
.paragraph-greeting {
  font-family: 'Poppins';
  font-weight: 400;
  color: #6D6B7A;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0.5%;
}

/* Title Atom */
.paragraph-title{
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.5%;
}

/* Question Atom */
.question {
  font-family: 'Poppins';
  font-weight: 500;
  color: #333333;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0.5%;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
